/*---------------------------------------*\
#FONTS
\*---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
/*---------------------------------------*\
#Variables
\*---------------------------------------*/
:root{
    --backgroundcolor-tablet: #052732;
    --color-font: #fff;

    --color-rood: #C93827;
    --color-blauw: #27499a;
    --color-geel: #f5cc0a;
    --color-groen: #27c937;
    --color-paars: #8405ae;
    --color-wit: rgb(202, 202, 202);

    --focus-color: rgba(186, 186, 186, 0.5);

    --font-size-titel: 96px;
    --font-size-subtitel: 48px;
    --font-size-button: 32px;
    --font-size-bigtext: 24px;
    --font-size-smalltext: 16px;

    --font-size-titelScherm: 180px;
    --font-size-subtitelScherm: 55px;
    --font-size-button: 32px;
    --font-size-bigtextScherm: 80px;
    --font-size-mediumtextScherm: 70px;
    --font-size-smalltextScherm: 16px;
    
    --font-weight-titel: 700;
    --font-weight-subtitel: 500;
    --font-weight-text: 400;

    --text-shadow: #000000 0px 0px 20px;
}
/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
html{
    font-family: 'Inter', sans-serif;
}
h1{
    font-size: var(--font-size-titel);
    font-weight: var(--font-weight-titel);
    margin: 0;
}
/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.o-hide-link{
    text-decoration: none;
    color: var(--backgroundcolor-tablet);
    z-index: 0;
}

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/

/*-------------------STARTSCHERM---------------------*/

.c-bodytablet{
    background-color: var(--backgroundcolor-tablet);
    color: var(--color-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    gap: 4rem;
    height: 100vh;
    overflow: hidden;
}

.c-bodytablet--start{
    gap: 10rem;
}

.c-bodytablet--speler{
    gap: 2rem;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.c-trophytablet{
    position: fixed;
    top: 2rem;
    right: 2rem;
}

.c-titeltablet{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-tabletTitelNaam{
    line-height: 2rem;
}

/* .c-startgame{
    background-color: var(--color-font);
    color: var(--backgroundcolor-tablet);
    padding: 1rem 4rem;
    border-radius: 1rem;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-subtitel);
    text-decoration: none;
} */

.c-footertablet{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 2rem;
}


/*-------------------SPELER-INPUT-----------------------*/

.c-headertablet{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
}

.c-maintablet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 12rem);
    gap: 4rem;
    position: absolute;
    bottom: calc(100vh/2 - 17rem);
}

.c-titelspeler{
    font-size: var(--font-size-subtitel);
    font-weight: var(--font-weight-titel);
    margin: 0;
    display: block;
    position: absolute;
    top: 4rem;
}

.c-formTablet{
    width: 100%;
}

.c-label{
    font-size: var(--font-size-bigtext);
    font-weight: var(--font-weight-text);
    margin: 0;

    @media (max-width: 1200px) {
        font-size: var(--font-size-smalltext);
    } 
}

.c-inputfietser{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.c-form-field{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: calc(50% - 2rem);
    margin: 0;

    @media (max-width: 1200px) {
        gap: 0;
    }
    
}

.c-form-field--achter{
    margin-left: 2rem;
}

.c-input{
    border: none;
    background-color: var(--backgroundcolor-tablet);
    border-bottom: 1px solid var(--color-font);
    padding: .5rem;
    padding-left: 0;
    color: var(--color-font);
}

.c-input:focus{
    outline: none;
    border-bottom: 1px solid var(--color-font);
    caret-color: var(--color-font);
}


input:-webkit-autofill{
    -webkit-text-fill-color: var(--color-font) !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--backgroundcolor-tablet) inset !important;
}

.c-fietserbox{
    position: relative;
    width: 17.5rem;
    height: 16.3125rem;
}

.c-fietserbox img{
    position: absolute;
    top: 0;
}

.c-fietserkleur{
    width: 5rem;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.c-keuzeRood{
    background-color: var(--color-rood);
    border-radius: .5rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
    position: relative;
}
.c-keuzeBlauw{
    background-color: var(--color-blauw);
    border-radius: .5rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
    position: relative;
}
.c-keuzeGeel{
    background-color: var(--color-geel);
    border-radius: .5rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
    position: relative;
}
.c-keuzeGroen{
    background-color: var(--color-groen);
    border-radius: .5rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
    position: relative;
}
.c-keuzePaars{
    background-color: var(--color-paars);
    border-radius: .5rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
    position: relative;
}
.c-keuzeWit{
    background-color: var(--color-wit);
    border-radius: .5rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
    position: relative;
}

.c-kleurkiezen{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}

.c-kleurradio{
    width: 2rem;
    height: 2rem;
    margin: 0;
}

.c-custom-option__fake-input{
    display: none;
}

.c-kleurradio:checked + .c-custom-option__fake-input{
    display: flex;
    width: 28px;
    height: 28px;
    border: 2px solid var(--color-font);
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* .c-kruisje{
    display: flex;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    margin: 0;
    top: 0;
    position: absolute;
    border-radius: .5rem;
    border: 2px solid var(--color-font);
} */

.c-kruisje--rood{
    display: flex;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    margin: 0;
    top: 0;
    position: absolute;
    border-radius: .5rem;
    border: 2px solid var(--color-font);
    display: none;
}

.c-kruisje--blauw{
    display: flex;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    margin: 0;
    top: 0;
    position: absolute;
    border-radius: .5rem;
    border: 2px solid var(--color-font);
    display: none;
}

.c-kruisje--geel{
    display: flex;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    margin: 0;
    top: 0;
    position: absolute;
    border-radius: .5rem;
    border: 2px solid var(--color-font);
    display: none;
}

.c-kruisje--groen{
    display: flex;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    margin: 0;
    top: 0;
    position: absolute;
    border-radius: .5rem;
    border: 2px solid var(--color-font);
    display: none;
}

.c-kruisje--paars{
    display: flex;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    margin: 0;
    top: 0;
    position: absolute;
    border-radius: .5rem;
    border: 2px solid var(--color-font);
    display: none;
}

.c-kruisje--wit{
    display: flex;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    margin: 0;
    top: 0;
    position: absolute;
    border-radius: .5rem;
    border: 2px solid var(--color-font);
    display: none;
}


.c-knoptablet{
    background-color: var(--color-font);
    color: var(--backgroundcolor-tablet);
    padding: .5rem 2rem;
    border-radius: 1rem;
    font-size: var(--font-size-bigtext);
    font-weight: var(--font-weight-subtitel);
    border: none;
    width: 11.25rem;
    height: 4rem;
    z-index: 10;
}

.c-knoptablet:focus{
    outline: 3px solid var(--focus-color);
    z-index: 1;
    border: none;
}

.c-knoptablet:hover{
    outline: none;
    border: none;
}

.c-knoptablet:active{
    outline: 3px solid var(--focus-color);
    border: none;
}

.c-onderstetabletspeler{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    margin: 0 2rem;
}


/*---------------------MAP--------------------------*/

.c-bodytablet--map{
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.c-titelspeler--map{
    position: absolute;
    top: 4rem;
}

.c-kiesmap{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.c-map{
    width: 16.25rem;
    height: 15rem;
    background-color: var(--color-font);
    border-radius: 1rem 1rem 1rem 1rem;   
}

.c-map:has(> .c-mapradio:checked){
    outline: 4px solid var(--color-font);
}

.c-mapfoto{
    content: '';
    position: relative;
    width: 16.25rem;
    height: 12.5rem;
    background-image: url(../img/Achtergronden/eilanden.svg);
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
}

.c-mapfoto--1{
    background-image: url(../img/Achtergronden/eilanden.svg);
}
.c-mapfoto--2{
    background-image: url(../img/Achtergronden/jungle.svg);
}
.c-mapfoto--3{
    background-image: url(../img/Achtergronden/water.svg);
}

.c-mapradio{
    height: 2.5rem;
    width: 16.25rem;
    margin: 0;
    position: absolute;
    display: none;
}

.c-mapspan{
    position: absolute;
    height: 2.5rem;
    width: 16.25rem;
    background-color: var(--color-font);
    border-radius: 0 0 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-bigtext);
    font-weight: var(--font-weight-subtitel);
    color: var(--backgroundcolor-tablet);
}

.c-maintablet--wereld{
    height: max-content;
    gap: 8rem;
    position: absolute;
    bottom: calc(100vh/2 - 16rem);
    height: max-content;
}


/*---------------------SPELUITLEG-----------------------*/

.c-maintablet--uitleg{
    height: max-content;
    gap: 8rem;
    position: absolute;
    top: 8rem;
    height: max-content;
}


/*---------------------INSTRUCTIE-----------------------*/

.c-bodytablet--twee{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 4rem);
}

.c-instructie{
    place-content: center;
    text-align: center;
}


/*---------------------KEUZE-----------------------*/

.c-bodytablet--keuze{
    margin: 0;
}

.c-keuzescherm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4rem;
}

.c-knoptablet--keuze{
   width: 37.5rem;
   height: 6.25rem;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-titel);
}

.c-knoptablet--keuze:focus{
    outline: .5rem solid var(--focus-color);
}

.c-keuzetekst{
    position: absolute;
    top: 4rem;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-subtitel);
    margin: 0;
    text-shadow: var(--text-shadow);
}



/*--------------------ALGEMEEN SCHERM---------------------*/

.c-containerScherm{
    position: relative;
    overflow: hidden;
    margin: 0;
}

.c-backgroundScherm__vast{
    width: 100%;
    height: 100vh;
    background-image: url(../img/Achtergronden/water.svg);
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    position: relative;
    z-index: -2;
}

.c-moving{
    display: block;
    animation: move 15s infinite linear;
    height: 100vh;
}

@keyframes move{
    from {transform: translateX(  0%);}
    to {transform: translateX(  -50%);}
}

.c-overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
}

/*---------------------START-----------------------*/

.c-tekstScherm{
    position: absolute;
    top: calc(100vh/2 - 18rem);
    color: var(--color-font);
    text-shadow: var(--text-shadow);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-titelScherm{
    font-size: var(--font-size-titelScherm);
    font-weight: var(--font-weight-titel);
    line-height: 8.75rem;
}

.c-subtitelScherm{
    font-size: var(--font-size-subtitelScherm);
    line-height: 3.125rem;
}

.c-tekstSchermBoven{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.c-doelScherm{
    font-size: var(--font-size-bigtextScherm);
    font-weight: var(--font-weight-subtitel);
    line-height: 4.375rem;
    margin-top: 8rem;
}

.c-logoSport{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4rem;
    padding: .5rem;
}

.c-logoHowest{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
}


/*---------------------LEADERBOARD-----------------------*/

.c-podium{
    position: absolute;
    top: 5%;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.c-podium__stand{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.c-box{
    background-color: var(--color-font);
    border-radius: 10px;
    height: 14rem;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(100% / 2);
    padding: .5rem;
}

.c-box__1{
    height: calc(14rem * 1);
    display: flex;
    gap: 1rem;
}

.c-box__2{
    height: calc(14rem * 0.75);
    display: flex;
    gap: .6rem;
}

.c-box__3{
    height: calc(14rem * 0.60);
    display: flex;
    gap: .2rem;
}

.c-algemeenKlassement{
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
    height: 20rem;
    width: 100%;
    position: absolute;
    bottom: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.c-algemeenKlasseLinks{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 20rem;
    width: calc(100% - 2rem);
}

.c-algemeenKlasseRechts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 20rem;
    width: 100%;
}

.c-klasse{
    color: var(--backgroundcolor-tablet);
    background-color: var(--color-font);
    border-radius: 10px;
    width: calc(100% - 8rem);
    height: 4rem;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.c-klasseBegin{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.c-klasseBegin--tien{
    gap: 1rem;
}

.c-klasseEind{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.c-klasseNummer{
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-titel);
}

.c-klasseNaam{
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-titel);
}

.c-klasseNaam--1{
    font-size: var(--font-size-subtitel);
    text-align: center;
    line-height: 3.5rem;
}

.c-klasseAfstand{
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-subtitel);
}

.c-klasseSnelheid{
    font-size: var(--font-size-bigtext);
    font-weight: var(--font-weight-subtitel);
    color: #8D8D8D;
}


/*--------------------WINNAAR---------------------*/

.c-winnaar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: calc(100% / 8);
}

.c-winnaarLinks{
    width: 20rem;
    height: 28rem;
    background-color: var(--color-font);
    position: relative;
    z-index: 1;
    border-radius: 1rem;
}

.c-winnaarRechts{
    width: 20rem;
    height: 28rem;
    background-color: var(--color-font);
    position: relative;
    z-index: 1;
    border-radius: 1rem;
}

.c-rondje{
    border-radius: 100%;
    height: 10rem;
    width: 10rem;
    position: relative;
    border: 2px solid var(--backgroundcolor-tablet);
    top: 2rem;
    left: 5rem;
    overflow: hidden;
}

.c-avatar{
    position: absolute;
    top: 1.5rem;
    left: -5rem;
}

.c-winnaarStats{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: absolute;
    justify-content: flex-end;
    bottom: 2rem;
    gap: 1rem;
    width: 100%;
}

.c-klasseWatt{
    font-size: var(--font-size-bigtext);
    font-weight: var(--font-weight-subtitel);
    color: #8D8D8D;
}

.c-medaille{
    position: absolute;
    top: -1rem;
    left: -2rem;
}


/*------------------SPELER-AANMAKEN-------------------*/

.c-spring{
    position: absolute;
    top: 4rem;
    color: var(--color-font);
    font-size: var(--font-size-subtitelScherm);
    font-weight: var(--font-weight-subtitel);
    text-shadow: var(--text-shadow);
    width: 100%;
    text-align: center;
    display: none;
}

.c-countdown{
    position: absolute;
    top: 16rem;
    color: var(--color-font);
    text-align: center;
    font-size: var(--font-size-subtitelScherm);
    font-weight: var(--font-weight-subtitel);
    text-shadow: var(--text-shadow);
    /* border: 6px solid var(--color-font); */
    border-radius: 100%;
    padding: 2rem;
    left: calc(100vw/2 - 5rem);
    display: none;
    background-color: rgba(0, 0, 0, 0.3)
}

.c-wachtfiets{
    position: absolute;
    bottom: 2rem;
    z-index: 0;
    scale: .8;
}

.c-wachtfiets--een{
    /* display: none; */
}

.c-wachtfiets--twee{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: -1;
    display: none;
}

.c-spelerAangemaakt{
    position: absolute;
    top: 4rem;
    left: 8rem;
    z-index: 1;
    color: var(--color-font);
    font-size: var(--font-size-subtitelScherm);
    font-weight: var(--font-weight-subtitel);
    text-shadow: var(--text-shadow);
    width: 25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.c-spelerAangemaakt--een{
    /* display: none; */
}

.c-spelerAangemaakt--twee{
    position: absolute;
    top: 4rem;
    left: calc(100vw - 33rem);
    display: none;
}

.c-spelerMaken{
    position: absolute;
    top: 4rem;
    left: 8rem;
    z-index: 1;
    color: var(--color-font);
    font-size: var(--font-size-subtitelScherm);
    font-weight: var(--font-weight-subtitel);
    text-shadow: var(--text-shadow);
    width: 25rem;
    text-align: center;
}

.c-spelerMaken--een{
    display: none;
}

.c-spelerMaken--twee{
    position: absolute;
    top: 4rem;
    left: calc(100vw - 33rem);
    /* display: none; */
}

.c-kaderSpeler{
    width: 8.75rem;
    height: 10.5rem;
    background-color: var(--color-font);
    color: var(--backgroundcolor-tablet);
    border-radius: 1rem;
    position: absolute;
    top: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-kaderSpeler--een{
    left: 15rem;
    /* display: none; */
    /* animation: beweegLinks 2s linear;  */
}
@keyframes beweegLinks{
    from {transform: translateX(  0%);}
    to {top: 2rem; left: 2rem; z-index: -1;}
}

.c-kaderSpeler--twee{
    left: calc(100vw - 24.75rem);
    display: none;
    /* animation: beweegRechts 2s  linear;  */
}
@keyframes beweegRechts{
    from {transform: translateX(  0%);}
    to {top: 2rem; left: calc(100vw - 10.75rem); z-index: -1;}
    
}

.c-rondje--klein{
    width: 5rem;
    height: 5rem;
    top: 0;
    left: 0rem;
}

.c-avatar--klein{
    scale: .5;
    top: -3.5rem;
    left: -7.5rem;
}

.c-klasseNaam--kader{
    font-size: var(--font-size-bigtext);
    text-shadow: none;
}

.c-aftel{
    font-size: var(--font-size-titelScherm);
    font-weight: var(--font-weight-titel);
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    display: flex;
    place-content: center;
    top: calc(100vh/2 - 6rem);
    color: var(--color-font);

    display: none;
}


/*------------------DE-RACE------------------*/

.c-moving--race{
    animation: move 8s infinite linear;
}

.c-kadersRace{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 2rem;
    width: 100%;
    height: max-content;
    gap: 2rem;
}

.c-kaderSpeler--race{
    height: 12rem;
    gap: .5rem;
    display: flex;
    position: relative;
    top: 0rem;
    left: 2rem;
}

.c-kaderSpeler--raceTwee{
    margin-right: 4rem;
}

.c-countdown-race{
    display: block;
    top: 3.5rem;
    left: calc(100vw/2 - 4rem);
}


/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/