/*---------------------------------------*\
#FONTS
\*---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
/*---------------------------------------*\
#Variables
\*---------------------------------------*/
:root{
    --backgroundcolor-tablet: #052732;
    --color-font: #fff;

    --color-rood: #C93827;
    --color-blauw: #27499a;
    --color-geel: #f5cc0a;
    --color-groen: #27c937;
    --color-paars: #8405ae;
    --color-wit: #FFFFFF;

    --font-size-titel: 96px;
    --font-size-subtitel: 48px;
    --font-size-button: 32px;
    --font-size-text: 24px;

    --font-weight-titel: 700;
    --font-weight-subtitel: 500;
    --font-weight-text: 400;


}
/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
html{
    font-family: 'Inter', sans-serif;
}
h1{
    font-size: var(--font-size-titel);
    font-weight: var(--font-weight-titel);
    margin: 0;
}
/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-bodytablet{
    background-color: var(--backgroundcolor-tablet);
    color: var(--color-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    gap: 4rem;
}

.c-bodytablet--speler{
    gap: 2rem;
}

.c-trophytablet{
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.c-titeltablet{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-startgame{
    background-color: var(--color-font);
    color: var(--backgroundcolor-tablet);
    padding: 1rem 4rem;
    border-radius: 1rem;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-subtitel);
}

.c-footertablet{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 2rem;
}

.c-headertablet{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.c-maintablet{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 6rem);
    gap: 2rem;
}

.c-titelspeler{
    font-size: var(--font-size-subtitel);
    font-weight: var(--font-weight-subtitel);
    margin: 0;
}

.c-inputfietser{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.c-form-field{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(50% - 2rem);
    margin: 0;
}

.c-form-field--achter{
    margin-left: 2rem;
}

.c-fietserbox{
    position: relative;
    width: 17.5rem;
    height: 16.3125rem;
}

.c-fietserbox img{
    position: absolute;
    top: 0;
}

.c-fietserkleur{
    width: 5rem;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.c-keuzeRood{
    background-color: var(--color-rood);
    border-radius: .5rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
    border: none;
}
.c-keuzeBlauw{
    background-color: var(--color-blauw);
    border-radius: .5rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
    border: none;
}
.c-keuzeGeel{
    background-color: var(--color-geel);
    border-radius: .5rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
    border: none;
}
.c-keuzeGroen{
    background-color: var(--color-groen);
    border-radius: .5rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
    border: none;
}
.c-keuzePaars{
    background-color: var(--color-paars);
    border-radius: .5rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
    border: none;
}
.c-keuzeWit{
    background-color: var(--color-wit);
    border-radius: .5rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
    border: none;
}

.c-kleurkiezen{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}

.c-knoptablet{
    background-color: var(--color-font);
    color: var(--backgroundcolor-tablet);
    padding: .5rem 2rem;
    border-radius: 1rem;
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-subtitel);
    border: none;
}

.c-onderstetabletspeler{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    margin: 0 2rem;
}



/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/