*
{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cyclist{
    position: relative;
    height: 260px;
    width: calc(8316px / 30);
    background: url(pix.png);
    animation: cycle 0.5s steps(30) infinite;
}

@keyframes cycle{
    from{
        background-position: 0;
    }
    to{
        background-position: -8316px;
    }
}